/* fonts */
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Black.ttf);
    font-weight: 900;
}


/* General  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    background-color: #efefef;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

html {
    scroll-behavior: smooth;
}


/* header */

header{
    line-height: 2em;
    background-color: #071733;
    text-align: center;
    font-weight: 400;
    font-size: medium;
    color: #fff;
}

header li {
    list-style-type: none;
    float: left;
    margin-left: -156px;
    margin-bottom: 6px;
}

header nav > a {
    font-weight: 900;
    font-size: 5em
}

/* NavBar */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  
  .nav-link {
    display: block;
    padding: 0.25rem 1rem; }
    .nav-link:hover, .nav-link:focus {
      text-decoration: none; }
    .nav-link.disabled {
      color: #90A4AE; }
  
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 1.5rem 1.25rem; }
    .navbar > .container,
    .navbar > .container-fluid {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  
.navbar-brand {
    display: inline-block;
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
    margin-right: 1.25rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; 
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; 
}  
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    right: 0;
}
.navbar-nav .nav-link {
    width: 290px;
    margin-right: 0;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none; 
}
  
 
  
.navbar-dark .navbar-brand {
    color: #ffffff; 
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
      color: #ffffff; 
}  
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7); 
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
      color: rgba(255, 255, 255, 0.9); 
}
.navbar-dark .navbar-nav .nav-link.disabled {
      color: rgba(255, 255, 255, 0.3); 
}
  
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff; 
}
  
.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #071733; 
}  
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
    border: none;    
}
.navbar-dark .navbar-text {
    color: #ffffff;
 }
.navbar-dark .navbar-text a {
      color: #ffffff; 
}
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
        color: #ffffff; 
}
  

/* Section 1 */
.firstContent {
    background-color: #071733;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    text-align: center; 
}

#home p {
    padding: 2vw;
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}

.secondContent {
    background-color: #fff;
    padding-left: 10px;
}

h2 {
    font-size: 1.1em;
    text-decoration: underline;
    color: #071733;
    text-decoration: none;
    font-weight: bold;
}



/* Section 2 */
#services h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.5vw;
}

#services h1 span {
    display: inline-block;
    border-bottom: 8px solid #5ce0fe;
    padding-bottom: 3px;
}

.cards {
    border-radius: 8px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px; 
    text-align: justify;
    box-sizing: border-box;
    position: relative;    
}

.cards h2 {
    font-size: 1.1em;
    line-height: 1.4em;
}

.cards h2, .cards p, .cards a {
    margin: 30px;
}

.cards p {
    word-spacing: .5px;
    line-height: 1.4em;
}

.cards a {
    color: #fff;
    border: 1px solid #00cdfd;
    font-weight: 400;
    font-size: .8em;
    padding: 5px;
    border-radius: 20px;
    background-color: #00cdfd;
    line-height: 10px;
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 10px;
}
#services div:nth-child(3) {
    background-color: #071733;
    color: #fff;
}
#services div:nth-child(3) h2 {
    color: #fff;
}


.svgIcon {
    width: 4vw;
    height: auto;
    margin-left: 30px;
}


/* Section 3 */
#contactUs {
    margin: 40px;
}


form {
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    width: 350px;
    margin-top: 60px;
    margin-left: 20px;
}

label:nth-child(1) {
    margin-top: 30px;
}

label {
    font-size: 1em;
    font-weight: 400;
}

[type]{
    margin-top: 10px;
    margin-bottom: 2px; 
    width: 100%; 
    line-height: 1.8em;
    padding-left: 6px;
}

[type='submit'] {
   width: 100%;
   line-height: 2.5em;
   background-color: #5ce0fe;
   color: #071733;
   font-weight: 700;
   letter-spacing: 3px;
   border-radius: 25px;
   border: none;
}

fieldset {
    position:relative;
    padding-top:50px;
}

legend {
    position:absolute;
    color: #071733;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    top:20px;
    left:0px;
    word-spacing: 10px;
    letter-spacing: 3px;
}


/* display on small devices */
@media(max-width: 576px) {
    header nav ul li{
        width: 25%;
    }

    #home p {
        font-size: 1.2em;
        font-weight: 900;
        text-align: center;
        word-spacing: 3px;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        border: 1px solid black;
        width: 260px;
        margin-right: 0;
      }

    .cards {
        text-align: center;
        position: relative;
        margin-right: 8px;
    }

    .cards a {
      align-items: center;
      position: absolute;
      bottom: 0px;
      left: 50px;
      right: 50px;

    }

    .svgIcon {
        width: 48px;
        text-align: center;
        height: auto;
        padding-right: 9px;
        position: absolute;
        left: 130px;
        top: 10px;
    }
    span {
        top: 80%;
        text-align: center;
        font-size: 20px;
        line-height: 1.5em;   
    }
    [type]{ 
        width: 40px;
    }
    [type="text"], [type="tel"], [type="email"], [type="submit"] {
        width: 100%;
    }

    .bottomImg {
        display: none;
    }

    form {
        width: 100%;
        margin-right: 0px;
        margin-left: 0;
    }

    legend {
        top:20px;
        left:16px;
        right: 10px;
        word-spacing: 10px;
        letter-spacing: 3px;
    }

}


/* Display on medium devices */
@media(min-width: 577px) and (max-width: 767px) {
    [type]{ 
        width: 80px;
    }
    .navbar-nav .nav-link {
        width: 100%
    }
    .cards {
        text-align: center;
    }
    .cards a {
        align-items: center;
      }
    span {
        top: 80%;
        text-align: justify;
        font-size: 24px;
        line-height: 1.5em;  
    }
    .svgIcon {
        width: 8vw;
        text-align: center;
        height: auto;
        border: 1px solid red;
        padding-right: 9px;
    }
    [type="text"], [type="tel"], [type="email"], [type="submit"] {
        width: 100%;
    }
    #contactUs {
        align-items: center;
    }
    form {
        margin-left: 80px;
        margin-right: 0;
        width: 500px;
        border: 1px solid black;
    }
    legend {
        top:20px;
        left:60px;
        right: 10px;
        word-spacing: 10px;
        letter-spacing: 3px;
    }
}

/* Display on medium devices */
@media(min-width: 768px) and (max-width: 991px) {
    header li {
        width: 140px;
        margin-right: 30px;
        padding: 0;
    }
    
    form {
        margin-left: 10px;
        margin-right: 0;
    }

    legend {
        top:20px;
        left:60px;
        right: 10px;
        word-spacing: 10px;
        letter-spacing: 3px;
    }

    /* [type]{ 
        width: 20%;
    } */
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        width: 244px;
        margin-right: 0;
      }
}

/* Display on large devices */
@media(min-width: 992px) {

}

@media (max-width: 575.98px) {
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      padding-right: 0;
      padding-left: 0; } }
  
@media (min-width: 576px) {
    .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
        flex-direction: row; }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute; }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem; }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
    .navbar-expand-sm .navbar-toggler {
    display: none; } 
}
  
  @media (max-width: 767.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      padding-right: 0;
      padding-left: 0; } }
  
  @media (min-width: 768px) {
    .navbar-expand-md {
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-pack: start;
          justify-content: flex-start; }
      .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
            flex-direction: row; }
        .navbar-expand-md .navbar-nav .dropdown-menu {
          position: absolute; }
        .navbar-expand-md .navbar-nav .nav-link {
          padding-right: 0.75rem;
          padding-left: 0.75rem; }
      .navbar-expand-md > .container,
      .navbar-expand-md > .container-fluid {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
      .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
      .navbar-expand-md .navbar-toggler {
        display: none; } }
  
  @media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0; } }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-pack: start;
          justify-content: flex-start; }
      .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
            flex-direction: row; }
        .navbar-expand-lg .navbar-nav .dropdown-menu {
          position: absolute; }
        .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: 0.75rem;
          padding-left: 0.75rem; }
      .navbar-expand-lg > .container,
      .navbar-expand-lg > .container-fluid {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
      .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
      .navbar-expand-lg .navbar-toggler {
        display: none; } }
  
  @media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      padding-right: 0;
      padding-left: 0; } }
  
  @media (min-width: 1200px) {
    .navbar-expand-xl {
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-pack: start;
          justify-content: flex-start; }
      .navbar-expand-xl .navbar-nav {
        -ms-flex-direction: row;
            flex-direction: row; }
        .navbar-expand-xl .navbar-nav .dropdown-menu {
          position: absolute; }
        .navbar-expand-xl .navbar-nav .nav-link {
          padding-right: 0.75rem;
          padding-left: 0.75rem; }
      .navbar-expand-xl > .container,
      .navbar-expand-xl > .container-fluid {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
      .navbar-expand-xl .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
      .navbar-expand-xl .navbar-toggler {
        display: none; }
}